/*
        ==========================
        ======    FONTS    =======
        ==========================
*/

@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Imprima);


/*
        ==========================
        ======  VARIABLES  =======
        ==========================
*/

$opacity: 0.8;

$brand-primary:     rgba(50,50,50,1);
$brand-secondary:  	rgba(233,167,53,1);
$brand-tertiary:    rgba(139,23,20,1);

$brand-primary-opacity: 	rgba(123,156,127,$opacity);
$brand-secondary-opacity: 	rgba(233,167,53,$opacity);
$white-opacity:				rgba(255,255,255,$opacity);
$invisible:					rgba(0,0,0,0);

$lightest-grey:     rgba(250,250,250,1);
$light-grey:        rgba(211,211,211,1);
$grey:              rgba(186,186,186,1);
$darker-grey:       rgba(93,93,93,1);
$dark-grey:         rgba(45,45,45,1);
$black:             rgba(0,0,0,1);
$white:             rgba(255,255,255,1);
$red:				rgba(255,0,0,1);

$text-color:        rgba(51,51,51,1);

$font-family:        			"Imprima",sans-serif;
$font-family-secondary:    	 	"Bree Serif", cursive;
$font-family-tertiary:			"Times", serif;

$font-size:         			16px;
$line-height:       			2em;

$link-color:        			$brand-primary;
$link-hover-color:  			lighten($brand-primary,20%);

$link-color-primary:			$brand-primary;
$link-hover-color-primary:		darken($brand-primary,20%);

$link-color-secondary: 			$brand-secondary;
$link-hover-color-secondary:  	darken($brand-secondary,20%);

$link-color-tertiary: 			$brand-tertiary;
$link-hover-color-tertiary:  	$black;

$dark-link-hover-color: 		darken($white,10%);