/*
        =========================================================
        ======  IT'S UP TO YOU (NEW YORK, NEW YORK)   ===========
        =========================================================
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header {
	
	.shadow-black-opacity {
		@include text-shadow(5px, 5px, 5px, $brand-primary-opacity);
		
	}
	
	&.back-meat {
		background:url(../images/back_header.jpg) center center no-repeat;
		background-size: cover;
	}
	
	ul {
		
	 	&#main-menu, &#language-menu, &#mobile-menu-button {
			
			li {
				
				@include margin(20px,left);
				
				a {
					color:$white;
					@include border(1px, dotted, $invisible, bottom);
					
					&:hover, &:active, :focus {					
						@include border(1px, dotted, $white, bottom);
					}
					
				}
				
				&.current_page_item, &.menu-item-home {
					
					a {
						@include border(1px, dotted, $white, bottom);
					}
					
				}
				
			}
			
		}
		
		&#language-menu {
			
			li {
			
				@include margin(10px,left);
			
			}
		}
		
	}
	
	.fade-in-1s {
		 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 1s; /* Firefox < 16 */
	        -ms-animation: fadein 1s; /* Internet Explorer */
	         -o-animation: fadein 1s; /* Opera < 12.1 */
	            animation: fadein 1s;
	}
	.fade-in-4s {
		 -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 4s; /* Firefox < 16 */
	        -ms-animation: fadein 4s; /* Internet Explorer */
	         -o-animation: fadein 4s; /* Opera < 12.1 */
	            animation: fadein 4s;
	}
	.fade-in-5s {
		 -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 5s; /* Firefox < 16 */
	        -ms-animation: fadein 5s; /* Internet Explorer */
	         -o-animation: fadein 5s; /* Opera < 12.1 */
	            animation: fadein 5s;
	}
	.fade-in-6s {
		 -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 6s; /* Firefox < 16 */
	        -ms-animation: fadein 6s; /* Internet Explorer */
	         -o-animation: fadein 6s; /* Opera < 12.1 */
	            animation: fadein 6s;
	}
	
	.fade-in-10s {
		 -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 10s; /* Firefox < 16 */
	        -ms-animation: fadein 10s; /* Internet Explorer */
	         -o-animation: fadein 10s; /* Opera < 12.1 */
	            animation: fadein 10s;
	}
	
}


main {


}


footer {


}
